{
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "assets/(.*)$",
    "types$",
    "types/(.*)$",
    "config$",
    "contexts$",
    "hooks$",
    "utils$",
    "data/(.*)$",
    "components/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
