@import "./src/styles/ui/button.css";
@import "./src/styles/ui/dropdown.css";
@import "./src/styles/ui/feedback.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:disabled {
    @apply !cursor-not-allowed *:!pointer-events-none !opacity-off;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: black;
  }

  :is(.dark) input:-webkit-autofill,
  :is(.dark) input:-webkit-autofill:hover,
  :is(.dark) input:-webkit-autofill:focus,
  :is(.dark) input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #121212 inset;
    box-shadow: 0 0 0 1000px #121212 inset;
    -webkit-text-fill-color: white;
  }

  input[type="range"] {
    @apply w-full h-4 rounded-full border border-light-blue dark:border-dark-blue outline-none appearance-none cursor-pointer;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
      @apply -mx-[0.375rem];
    }

    &::-webkit-slider-thumb {
      @apply w-xs aspect-square rounded-full bg-light-blue hover:bg-dark-blue dark:bg-dark-blue dark:hover:bg-light-blue appearance-none;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      @apply w-xs aspect-square rounded-full bg-light-blue hover:bg-dark-blue dark:bg-dark-blue dark:hover:bg-light-blue appearance-none;
      -webkit-appearance: none;
    }
  }
}

@layer components {
  .disabled {
    @apply !cursor-not-allowed *:!pointer-events-none !opacity-off;
  }
}

@layer utilities {
}
