@keyframes modal-open {
  from {
    transform: translateY(0.25rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes modal-close {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(0.25rem);
    opacity: 0;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

h1 {
  @apply text-[1.6rem] font-extrabold;
}

:is(h2, h3, h4, h5, h6) {
  @apply font-bold;
}

h2 {
  @apply text-[1.48rem];
}

h3 {
  @apply text-[1.36rem];
}

h4 {
  @apply text-[1.24rem];
}

h5 {
  @apply text-[1.12rem];
}

h6 {
  @apply text-base;
}

button:disabled {
  @apply !cursor-not-allowed !opacity-off *:!pointer-events-none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  -webkit-text-fill-color: black;
}

:is(.dark) input:-webkit-autofill,
:is(.dark) input:-webkit-autofill:hover,
:is(.dark) input:-webkit-autofill:focus,
:is(.dark) input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #121212 inset;
  box-shadow: 0 0 0 1000px #121212 inset;
  -webkit-text-fill-color: white;
}

input[type='range'] {
  @apply h-4 w-full cursor-pointer appearance-none rounded-full border border-light-blue outline-none dark:border-dark-blue;
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    @apply -mx-[0.375rem];
  }

  &::-webkit-slider-thumb {
    @apply aspect-square w-xs appearance-none rounded-full bg-light-blue hover:bg-dark-blue dark:bg-dark-blue dark:hover:bg-light-blue;
    -webkit-appearance: none;
  }

  &::-moz-range-thumb {
    @apply aspect-square w-xs appearance-none rounded-full bg-light-blue hover:bg-dark-blue dark:bg-dark-blue dark:hover:bg-light-blue;
    -webkit-appearance: none;
  }
}

dialog {
  &[open] {
    @apply animate-[modal-open_0.25s_forwards];
  }

  &.close {
    @apply animate-[modal-close_0.25s_forwards];
  }
}
