@import "./ui/button.css";
@import "./ui/dropdown.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:disabled {
    @apply disabled;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    box-shadow: 0 0 0 1000px white inset;
    -webkit-text-fill-color: black;
  }

  :is(.dark) input:-webkit-autofill,
  :is(.dark) input:-webkit-autofill:hover,
  :is(.dark) input:-webkit-autofill:focus,
  :is(.dark) input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #121212 inset;
    box-shadow: 0 0 0 1000px #121212 inset;
    -webkit-text-fill-color: white;
  }
}

@layer components {
  .disabled {
    @apply !cursor-not-allowed *:!pointer-events-none !opacity-off;
  }
}

@layer utilities {
  .border {
    &-primary {
      @apply border-light-primary dark:border-dark-primary;
    }

    &-secondary {
      @apply border-light-secondary dark:border-dark-secondary;
    }

    &-tertiary {
      @apply border-light-tertiary dark:border-dark-tertiary;
    }
  }

  .text {
    &-blue {
      @apply text-blue-500 dark:text-blue-600;
    }

    &-red {
      @apply text-red-500 dark:text-red-600;
    }

    &-yellow {
      @apply text-yellow-400 dark:text-yellow-500;
    }

    &-green {
      @apply text-green-500 dark:text-green-600;
    }
  }

  .decoration {
    &-blue {
      @apply decoration-blue-500 dark:decoration-blue-600;
    }

    &-red {
      @apply decoration-red-500 dark:decoration-red-600;
    }

    &-yellow {
      @apply decoration-yellow-400 dark:decoration-yellow-500;
    }

    &-green {
      @apply decoration-green-500 dark:decoration-green-600;
    }
  }

  .bg {
    &-primary {
      @apply bg-light-primary dark:bg-dark-primary;
    }

    &-secondary {
      @apply bg-light-secondary dark:bg-dark-secondary;
    }

    &-tertiary {
      @apply bg-light-tertiary dark:bg-dark-tertiary;
    }

    &-blue {
      @apply bg-blue-500 dark:bg-blue-600;

      &--hover {
        @apply bg-blue hover:bg-blue-600 dark:hover:bg-blue-500;
      }
    }

    &-red {
      @apply bg-red-500 dark:bg-red-600;

      &--hover {
        @apply bg-red hover:bg-red-600 dark:hover:bg-red-500;
      }
    }

    &-yellow {
      @apply bg-yellow-400 dark:bg-yellow-500;

      &--hover {
        @apply bg-yellow hover:bg-yellow-500 dark:hover:bg-yellow-400;
      }
    }

    &-green {
      @apply bg-green-500 dark:bg-green-600;

      &--hover {
        @apply bg-green hover:bg-green-600 dark:hover:bg-green-500;
      }
    }
  }

  .shadow {
    &-primary {
      @apply shadow-light-primary dark:shadow-dark-primary;
    }

    &-secondary {
      @apply shadow-light-secondary dark:shadow-dark-secondary;
    }

    &-tertiary {
      @apply shadow-light-tertiary dark:shadow-dark-tertiary;
    }
  }
}
